body {
  margin: 0;
  font-family: Kepler;
  background: rgb(214, 214, 214);
}

header{
  width:100%; 
  background-color:rgb(100, 100, 100); 
  padding: 0%; 
  height:120px;
  margin: 0%;
}

#img{
  float:left; 
  margin:10px; 
  width:100px; 
  height:100px; 
  border-radius: 100px; 
  border: 1px solid white; 
}

#name{
  background-color:rgb(143, 24, 24); 
  padding: 10px;
  font-size: 72px;
  margin: 0px;
}

nav{
  max-width:960px; 
  background-color:rgb(66, 66, 66); 
  margin: 0 auto; 
  margin-top:20px; 
  padding:10px;
  text-align: center;
}

.hr{
  color:rgb(214, 214, 214);
}

.hr:hover{
  color:rgb(156, 25, 25);
}

#r{
  margin-left: 170px;
  float: left;
}

#l{
  margin-right: 170px;
  float: right;
}

.block{
  max-width: 960px;
  margin: 0 auto; 
  text-align: justify;
}

table{
  border: 1px solid black;
  border-collapse: collapse;
}

td, th{
  border: 1px solid black;
  text-align: center;
}

.cell{
  background-color: grey;
}

a{
  text-decoration-line: none;
  color:rgb(143, 24, 24);
}
a:hover {
  color: black;
}

footer{
  background-color: rgb(143, 24, 24);
  width:100%; 
  padding: 10px; 
  height:120px;
}

#last{
  margin: 50px;
}

@font-face {
  font-family: "Kepler"; 
  src: url("Kepler.otf") format("opentype"); 
  font-style: normal; 
  font-weight: normal; 
}